apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: n8n
  namespace: argocd
spec:
  project: default
  destination:
    namespace: n8n
    server: https://kubernetes.default.svc
  source:
    repoURL: https://riatlas.github.io/chart__n8n
    chart: n8n
    targetRevision: 0.23.0
    helm:
      values: |
        replicaCount: 1
        service:
          type: ClusterIP
          port: 80
        ingress:
          enabled: false
        persistence:
          enabled: false
        config:
          executions:
            pruneData: "true"
        resources:
          requests:
            cpu: 100m
            memory: 512Mi
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
